VITE_TWITCH_CLIENT_ID=2sx1pae24wtpuw2gb84iqy14p3xq4y
VITE_TWITCH_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_TWITCH_SCOPES=user:read:email channel:read:redemptions channel:manage:redemptions moderator:read:followers

